/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
/testJPA/
/test/
/productManager-Rest-API/target/
/productManager-api-rest/target/ 
/productManager-web/target/
productManager-web/target/
/productManager-api-rest/.classpath
/productManager-api-rest/.project
/productManager-api-rest/.springBeans
/productManager-web/.classpath
/productManager-web/.project
/productManager-web/.springBeans
/productManager-web/.settings/


